<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu" class="icon-menu"></label>
            </div>
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='logo.png') }}" id="icon"/>
                </a>
            </div>
            <nav class="menu">
                <a href="{{ url_for('home') }}">Inicio</a>
                <a href="{{ url_for('login') }}">Iniciar Sesión</a>
                <a href="{{ url_for('register') }}">Registrarse</a>
                
            </nav>
        </div>
    </header> 

</body>
</html>
